<div class="container">
  <div class="p-5 text-center">
    <h1>{{ '::Welcome' | abpLocalization }}</h1>

  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-auto text-center">
          <img
            src="/assets/images/logo/folder.png"
            style="max-width: 400px"
            class="w-100 mb-5 my-md-3"
          />
        </div>
        <div class="col-md d-flex align-items-center">
          <div class="pe-0 pe-md-4">
            <small class="text-uppercase text-muted"></small>
            <h2 class="mb-4">ARCHIVE MANAGEMENT SYSTEM</h2>
            <p class="mb-4">
              Digitalize and archive the customer files is among the risks prevention and mitigation
            </p>
            <div class="mb-4">
              <a
                href="#"
                class="btn btn-warning mb-1"
              >
                Login
              </a>
              &nbsp;
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-3 text-center">
    <h3>Let's improve your our World with computer based systems!</h3>
    <p>Here are some links to help you get started:</p>
  </div>
</div>


<style scoped>
  .col-lg-2.border-start:nth-of-type(6n + 1) {
    border-left: 0 !important;
  }

  .col-lg-4.border-start:nth-of-type(3n + 1) {
    border-left: 0 !important;
  }

  @media (max-width: 991px) {
    .border-start {
      border-left: 0 !important;
    }
  }
</style>
